.login{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;

}
.login-half:first-of-type{
    background: var(--BackgroundColor);
    padding:32px 64px;
    width:60vw;
}
.login-wallpaper{
    width: 40vw;
    height:100%;
    object-fit: cover;
}
.login-form{
    width: 350px;
    height: 400px;
    background-color: var(--WhiteColor);
    padding:20px;
    margin-top: 50px;
}
.login-subHeader{
    color: var(--LightTextColor);
    font-size: 14px;
}
.login-header{
    font-weight: 700;
    font-size: 18px;
    margin-top:5px;
}
.login-inputFields{
    margin-top:60px;
}
.login-inputField:last-of-type{
    margin:20px 0px;
}
.login-btn{
    width:200px;
    padding:10px;
}
.login-btn{
    background: var(--ButtonColor);
    color: var(--WhiteColor);
    font-size:18px;
    margin-top:10px;
    border:none;
}
@media(max-width : 700px){
    .login{
        flex-direction: column-reverse;
    }
    .login-half:first-of-type{
        width: 100vw;
        padding:24px 32px;
    }
    .login-wallpaper{
        width: 100%;
    }
    .login-form{
        width: 250px;
    }
}