.foodMenu{
    margin-top: 20px;
    display:flex;
    gap:10px;
}
.foodMenu-features{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.foodMenu-feature{
    display:flex;
    gap:20px;
}
.foodMenu-text{
    cursor: pointer;
    font-size: 12px;
    display:flex;
    align-items: center;
    gap: 3px;
    text-decoration: underline;
}
.foodMenu-textIcon{
    height: 14px;
    width: 14px;
    background: var(--TextColor);
    color: var(--WhiteColor);
    border-radius: 50%;
    padding:5px;
}
.foodCategory{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
.category{
    color: var(--WhiteColor);
    width: 150px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    border-radius: 5px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.categorySelected{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: var(--DangerColor);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.category-icon{
    font-size: 28px;
}
.category-name{
    font-size: 14px;
}
.category-itemNumber{
    font-size: 12px;
}
.menu-half:nth-child(2){
    min-width: 400px;
    height: 500px;
    background-color:var(--BackgroundColor);
    padding: 10px;
}
@media(max-width: 1100px){
    .foodCategory{
        gap:10px;
    }
    .category{
        width: 120px;
        padding:5px;
        gap:5px;
    }
    .category-icon{
    font-size: 24px;
    }
    .category-name{
        font-size: 12px;
    }
    .category-itemNumber{
    font-size: 10px;
}
    .menu-half:nth-child(2){
        min-width: 300px;
        width: 300px;
    }
}
@media(max-width: 900px){
    .foodMenu{
        flex-direction: column;
        gap: 10px;
    } 
}
@media(max-width: 400px){
    .category-icon{
    font-size: 18px;
    }
    .category-name{
        font-size: 10px;
    }
    .category-itemNumber{
    font-size: 8px;
}
    .menu-half:nth-child(2){
        min-width: 200px;
        width: 200px;
        padding:0;

    }
}
