.foodContent{
    margin-left: 90px;
    max-width: calc(100vw - 130px);
    padding: 20px;
}
@media(max-width: 450px){
    .foodContent {
        margin-left: 55px;
        max-width: calc(100vw - 100px);
    }
}